<html>
<title>Clozer</title>
<head>
<link href="/site_media/css_FAST.css" rel="stylesheet" type="text/css">
</head>
<body>
<table width=50% align="center" borader=0>
	<tr>
	<td class='stylishFont'><img src="/site_media/banner2.png"> <font color='#999999'>(ver 0.3)</font></td>
	</tr>
	<tr>
	  <td>
      <br>
      <p><font color='#333333' class='stylishFont'>&nbsp;Please input an article for cloze test generation</font></p></td>
  </tr>
	<tr>
	  <td>
      
      <form action="/distractor/" method='post'>
        <textarea cols="70" rows="20" type=text name="qin" class='stylishFont'>We introduce a method for learning to find documents on the web that contain answers to a given natural language question. In our approach, questions are transformed into new queries aimed at enlarging the probability of retrieving answers from existing information retrieval systems. The method involves automatically learning phrase features for classifying questions into different types.</textarea>
        <br>
        <br>
        
        
        <input type=submit value="Generate the test" class='stylishFont'>

      </form>

      
      </td>
  </tr>
  
     <tr>
        <td>
            <div align='center' id='credit'>
            <br><br><br><font color=grey size=3>2010 (c) NTHU NLPLAB</font>
            </div>
        </td>
      </tr>

</table>
<br>
</body>
</html>

